{% if config('giphy_enable') and U_GIPHY_API %}
<button type="button" class="abbc3_button open-giphy-modal abbc3-giphy-btn" title="{{ lang('GIPHY_SEARCH_PLACEHOLDER') }}"
	data-giphy-api="{{ U_GIPHY_API|e('html_attr') }}"
	data-giphy-trending="{% if S_GIPHY_TRENDING %}true{% else %}false{% endif %}"
	data-lang-unauthorized="{{ lang('GIPHY_APIKEY_UNAUTHORIZED')|e('html_attr') }}"
	data-lang-invalid="{{ lang('GIPHY_APIKEY_INVALID')|e('html_attr') }}"
	data-lang-limit="{{ lang('GIPHY_USAGE_LIMIT')|e('html_attr') }}"
	data-lang-connect="{{ lang('GIPHY_ERROR_CONNECT')|e('html_attr') }}"
	data-lang-no-results="{{ lang('GIPHY_NO_RESULTS')|e('html_attr') }}"
	data-lang-error="{{ lang('GIPHY_SEARCH_ERROR')|e('html_attr') }}">
</button>
{% endif %}
